/**************
GLOBAL STYLING
***************/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/**************
ItemList COMPONENT
***************/

.ItemList-container {
  max-width: 1200px;
  margin: 50px auto;
}

.ItemList-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: Roboto;
  font-weight: 100;
}

.error-page-container {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.error-page-container p {
  font-family: 'Roboto';
  font-weight: 900;
  margin-right: 50px;
}